<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
  <Playwright>
    <BrowserName>chromium</BrowserName>
    <LaunchOptions>
      <Headless>false</Headless>
    </LaunchOptions>
  </Playwright>
  <LoggerRunSettings>
    <Loggers>
      <Logger friendlyName="html" enabled="true">
        <Configuration>
          <LogFileName>TestResults.html</LogFileName>
        </Configuration>
      </Logger>
      <Logger friendlyName="trx" enabled="true" />
    </Loggers>
  </LoggerRunSettings>
</RunSettings>